<mat-toolbar color="accent" class="app-header">
    <span>Rehab Path Centers</span>
</mat-toolbar>


<mat-list>
    <div mat-subheader>Featured Treatment Providers</div>
    <mat-list-item *ngFor="let center of (centers | 
    slice: lowValue : highValue)">
    <a href="tel:{{center.phone}}">
        <mat-icon color="primary" >phone</mat-icon>
    </a>
      <mat-icon color="primary" mat-list-icon>home</mat-icon>
      <div mat-line>{{center.title}}</div>
      <div mat-line> {{center.phone}} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>

<div *ngIf="centers == null">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="centers !== null">
    <mat-paginator color="primary" [length]="centers.length" [pageSize]="pageSize" 
    (page)="pageEvent = getPaginatorData($event)">
    </mat-paginator> 
</div>
